body{
	background-color: #333;
	color: #fbeaeb;
	height: 100vh;
	min-height: 550px;
	position: relative;
	overflow-y: hidden;
}

a{
	text-decoration: none;
	color: #ccc;
}

.login-panel{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	width: 70%;
	right: 0;
	left: 0;
	margin: auto;
	height: 400px;
	background-color: rgba(30, 30, 30, 0.9);
	color: #b8b8b8;
}

.white-panel{
	background-color: rgba(255, 255, 255, 1);
	height: 500px;
	position: absolute;
	top: -50px;
	width: 50%;
	right: calc(50% -50px);
	transition: .3s ease-in-out;
	z-index: 0;
}

.login-panel input[type="radio"]{
	position: relative;
	display: none;
}

.login-panel #label-login, .login-panel #label-register{
	border: 1px solid #939393;
	padding: 0 5px;
	width: 150px;
	display: block;
	text-align: center;
	border-radius: 3px;
	cursor: pointer;
}

.login-info-box{
	width: 30%;
	padding: 0 50px;
	top: 20%;
	right: 0;
	position: absolute;
	text-align: left; 
}